* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
p {
  color: black;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;

  /*grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px 85vh 50px;*/

  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "article article article article"
    "footer footer footer footer";
}
.header {
  background-color: #ffffff;
  grid-area: header;
  padding: 3%;
}
.nav {
  padding: 0.5%;
  background-color: #5f5f5f;
  grid-area: nav;
}
nav > a {
  color: white;
  padding: 5px;
  margin: 10px 15px;
  float: left;
  text-decoration: none;
}
nav > a:hover {
  color: #ffffff;
  background-color: #808080;
}
nav > a#about {
  float: right;
}

.article {
  grid-area: article;
  background-color: #deb887;
  display: grid;
  /*grid-template-columns:20px repeat(2, 1fr);*/
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "content news other"
    "content news other"
    "content news other";
}
article > section {
  padding: 2%;
}
article > section#news {
  grid-area: news;
  background-color: #f5f5f5;
}
article > section > div {
  margin-bottom: 1em;
}

article > section#content {
  grid-area: content;
  background-color:#f5f5f5;
}
article > section#content ul {
  border: 1px solid black;
  list-style-type: none;
}

#content ul > li {
  padding: 2%;
}
#content ul > li + li {
  padding: 3% 2% 2% 10%;
}
article > section#other {
  grid-area: other;
  background-color: #f3ecec;
}
/*article > section#other>img{
  height: 128px;
  width: 128px;
}
*/
.footer {
  padding: 2%;
  grid-area: footer;
  background-color: #5f5f5f;
}
footer > div > p {
  color: #f0ffff;
}
