* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}
p,
h1,
h2,
h3 {
  margin: 15px 0px;
}

header {
  background-image: url(https://ak2.picdn.net/shutterstock/videos/1733212/thumb/1.jpg);
}
.container {
  display: grid;
  /*   grid-template-rows: auto; */
  grid-auto-columns: minmax(10px, auto);
  /*  grid-template-columns: auto; */
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "article article article article"
    "footer footer footer footer";
}
.header {
  color: #f1f1f1;
  grid-area: header;
  padding: 1.5%;
  font-size: 1.5em;
  color: #f1f1f1;
}
.nav {
  position: sticky;
  top: 0;
  background-color: #5f5f5f;
  grid-area: nav;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: "hm  nw  ct . . . at";
}
#home {
  grid-area: hm;
}
#home > a {
}
#news {
  grid-area: nw;
}
#contact {
  grid-area: ct;
}
#about {
  grid-area: at;
}

.nav > a {
  display: grid;
  color: #ffffff;
  padding: 5% 0%;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  font-size: 1.25em;
}
nav > a:hover {
  color: #5f5f5f;
  background-color: #ffffff;
  transition: 0.5s;
}

.article {
  grid-area: article;
  background-color: white;
  display: grid;
  grid-template-columns: 25% 65% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    "content html  other"
    " .      css   other"
    " .       js   other";
}
article > section {
  padding: 5%;
}
article > section > h1 {
}
article > section#about_html {
  grid-area: html;
  background-color: #e3e2de;
}
article > section#about_css {
  grid-area: css;
  background-color: #e9e8e8;
}
article > section#about_js {
  grid-area: js;
  background-color: #f1f1f1;
}
article > section > div {
  margin-bottom: 1%;
}

article > section#content {
  padding: 1%;
  grid-area: content;
  background-color: #ffffff;
}
article > section#content ul {
  text-decoration: none;
  margin: 2%;
  background-color: #f5f5f5;
  border: 1px solid #000000;
  border-radius: 2%;
  list-style-type: none;
}
article > section > div > img {
  max-width: 100%;
  height: auto;
}
#about_html > img {
  float: right;
}
#about_css > img {
  float: left;
  width: 128px;
  height: 128px;
}
#about_js > img {
  float: right;
  width: 128px;
  height: 128px;
}
div > ul {
  margin-left: 5%;
}

div > ul > li {
  margin-bottom: 1%;
}
#content ul > li {
  padding: 2% 5%;
}
#content ul > li + li {
  padding: 1% 2% 2% 10%;
}
#content  a {
  text-decoration: none;
}
article > section#other {
  margin: 0;
  padding: 0;
  display: grid;
  grid-area: other;
  background-color: #8699ac;
}

div#to-top {
  align-self: end;
  justify-self: center;
}
.material-icons {
  font-size: 40px !important;
  margin-bottom: 50%;
  color: #ffffff;
}
.material-icons:hover {
  color: #5f5f5f;
}
.footer {
  padding: 1%;
  grid-area: footer;
  background-color: #5f5f5f;
}
footer > div > p {
  color: #f0ffff;
  text-align: center;
}
/* @media screen and (min-width: 601px) {
  
  } */

@media screen and (max-width: 600px) {
  
 .article {
  grid-area: article;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;
  grid-template-areas:
    " html  other"
    " css   other"
    " js   other";
}