* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
p,
h1,
h2,
h3 {
  margin: 10px 0px;
}
span > h1 {
  text-align: center;
  margin: 25px auto;
}

/*
span.start_pos {
  text-align: center;
}
span.start_pos h1 {
  margin-bottom: 15px;
}
*/

header {
  background-image: url(https://ak2.picdn.net/shutterstock/videos/1733212/thumb/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  background-color: #ffff99;
  color: #ffffff;
}
header > span {
  padding: 50px;
}
nav {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(#747474, #000000);
}
nav > a {
  color: #fffffff5;
  float: left;
  padding: 15px 25px;
  text-decoration: none;
}

/*
nav.nav_properties a {
  color: #fffffff5;
  float: left;
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
nav.nav_properties a:hover {
  background-color: #0f0f0fc4;
}*/

#about_html > img {
  float: right;
}
#about_css > img {
  float: left;
  width: 128px;
  height: 128px;
}
#about_js > img {
  float: right;
  width: 128px;
  height: 128px;
}
nav > a:hover {
  background-color: #bebebe;
  color: #000000;
}
article {
  padding: 10px;
  background-image: url(https://wallpaperplay.com/walls/full/a/f/3/77446.jpg);
}
section {
  width: 100%;
  padding-bottom: 15px;
}
section > div {
  padding: 20px;
}
/*div.description {
  padding: 25px;
}*/
div > ul {
  margin-left: 30px;
}

/*div.description ul {
  margin-left: 20px;
}*/
/*div.description ul li {
  margin-bottom: 5px;
}*/

div > ul > li {
  margin-bottom: 10px;
}
div#about_html {
  background-color: #d8d6d6;
}
div#about_css {
  background-color: #fcfcac;
}
div#about_js {
  background-color: #a3ffa3;
}
footer > nav > a {
  float: right;
}
